
# Playwright
node_modules/
/test-results/
/playwright-report/
/dist/
/blob-report/
/playwright/.cache/
.env
/.history
database/dropLinks.json
database/validatedLinks.json
database/links.sqlite
helpers/network/testCurlRedirects.js